.navbar{
    background-color:dodgerblue;
    height: auto;
    font-size:  60px;
    text-align: center;
    color: black;
}
.main-content{
    text-align: center;
    font-size: 30px;
    padding: auto;
    
}